*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/compiler.xml
/.idea/deploymentTargetSelector.xml
/.idea/gradle.xml
/.idea/kotlinc.xml
/.idea/ktfmt.xml
/.idea/migrations.xml
/.idea/misc.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/runConfigurations.xml
/.idea/shelf/Add_firebase_to_app.xml
/.idea/shelf/Add_firebase_to_app/shelved.patch
/.idea/*